# Site settings
title: Your Name
email: your.email@example.com
description: >-
  Personal website featuring my projects, blog posts, and talks.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://jankaul.github.io" # the base hostname & protocol for your site

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md

# Collections
collections:
  posts:
    output: true
    permalink: /blog/:year/:month/:day/:title/
  talks:
    output: true
    permalink: /talks/:title/

# Defaults
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "talks"
    values:
      layout: "page"
  - scope:
      path: "pages"
    values:
      layout: "page"
